<a href="https://colab.research.google.com/github/Khamsaen2489/data_viz_2022/blob/main/FinalDashBoard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

‚ùó**Final Exam: ‡∏á‡∏≤‡∏ô‡∏Å‡∏•‡∏∏‡πà‡∏° Final ‡∏ó‡∏µ‡πà‡∏≠‡∏≤‡∏à‡∏≤‡∏£‡∏¢‡πå‡∏™‡∏∏‡πà‡∏°‡πÉ‡∏´‡πâ**:


1.  ‡πÉ‡∏´‡πâ‡∏ô‡∏±‡∏Å‡∏®‡∏∂‡∏Å‡∏©‡∏≤‡∏™‡∏£‡πâ‡∏≤‡∏á Dashboard ‡πÅ‡∏™‡∏î‡∏á‡∏£‡∏≤‡∏¢‡∏á‡∏≤‡∏ô‡πÄ‡∏Å‡∏µ‡πà‡∏¢‡∏ß‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡πÇ‡∏£‡∏Ñ(ov) ‡∏à‡∏≤‡∏Å ‡πÑ‡∏ü‡∏•‡πå  alldb.csv ‡πÅ‡∏•‡∏∞ hospital_list.xlsx
2.   ‡πÇ‡∏î‡∏¢‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏´‡∏•‡∏±‡∏Å‡∏à‡∏∞‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô ‡∏ï‡∏≤‡∏£‡∏≤‡∏á alldb.csv (‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡∏™‡∏°‡∏ö‡∏π‡∏£‡∏ì‡πå‡∏ó‡∏µ‡πà‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏ô‡∏≥‡∏°‡∏≤‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÑ‡∏î‡πâ‡∏ï‡πâ‡∏≠‡∏á‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡πÉ‡∏ô column ‡∏ï‡πà‡∏≠‡πÑ‡∏õ‡∏ô‡∏µ‡πâ‡∏î‡∏±‡∏á‡∏ô‡∏µ‡πâ

     
* user ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)
* RowKey ‡πÄ‡∏õ‡πá‡∏ô String
* date ‡πÄ‡∏õ‡πá‡∏ô YYYY-MM-DD
* phone ‡πÄ‡∏õ‡πá‡∏ô String
* site ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)
* time ‡πÄ‡∏õ‡πá‡∏ô hh-mm-ss
* urine ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ String
* ov ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà 0-4 (0 ‡∏Ñ‡∏∑‡∏≠‡πÑ‡∏°‡πà‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ 1-4 ‡∏Ñ‡∏∑‡∏≠‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ‡∏ó‡∏µ‡πà‡∏£‡∏∞‡∏î‡∏±‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏£‡∏∏‡∏ô‡πÅ‡∏£‡∏á‡∏ï‡πà‡∏≤‡∏á‡πÜ)
* PartitionKey ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô))

3. ‡πÑ‡∏ü‡∏•‡πå alldb.csv ‡πÅ‡∏•‡∏∞ hospital_list.xlsx ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡∏ñ‡∏π‡∏Å‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡πÇ‡∏¢‡∏á‡∏Å‡∏±‡∏ô‡πÇ‡∏î‡∏¢ site ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå alldb.csv ‡∏Ñ‡∏∑‡∏≠ hcode ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå hospital_list.xlsx

‡πÇ‡∏î‡∏¢‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡πÅ‡∏™‡∏î‡∏á‡∏Ñ‡∏∑‡∏≠

* ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Å‡∏≤‡∏£‡∏ï‡∏£‡∏ß‡∏à‡πÉ‡∏ô‡πÅ‡∏ï‡πà‡∏•‡∏∞‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà (‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î-‡∏≠‡∏≥‡πÄ‡∏†‡∏≠ ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå hospital_list.xlsx) ‡πÄ‡∏ó‡∏µ‡∏¢‡∏ö‡∏Å‡∏±‡∏ö ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ (column ov ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå alldb.csv)
* ‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤‡∏ó‡∏µ‡πà‡∏ï‡∏£‡∏ß‡∏à (date ‡πÉ‡∏ô‡πÑ‡∏ü‡∏•‡πå alldb.csv)
* ‡∏≠‡∏∑‡πà‡∏ô‡πÜ‡∏ó‡∏µ‡πà‡∏ô‡∏±‡∏Å‡∏®‡∏∂‡∏Å‡∏©‡∏≤‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÇ‡∏¢‡∏ä‡∏ô‡πå (phone (‡∏ä‡∏ô‡∏¥‡∏î‡πÇ‡∏ó‡∏£‡∏®‡∏±‡∏û‡∏ó‡πå‡∏ó‡∏µ‡πà‡πÉ‡∏ä‡πâ‡∏ö‡∏±‡∏ô‡∏ó‡∏∂‡∏Å), title (‡∏Ñ‡∏≥‡∏ô‡∏≥‡∏´‡∏ô‡πâ‡∏≤‡∏ä‡∏∑‡πà‡∏≠), age (‡∏≠‡∏≤‡∏¢‡∏∏))

(‡∏Ñ‡∏¥‡∏î‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏ï‡∏≤‡∏°‡∏Å‡∏•‡∏∏‡πà‡∏° final ‡πÇ‡∏î‡∏¢‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏ó‡∏∏‡∏Å‡∏Ñ‡∏ô‡πÉ‡∏ô‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ï‡πâ‡∏≠‡∏á‡∏°‡∏µ‡∏Ñ‡∏∑‡∏≠‡πÑ‡∏ü‡∏•‡πå data pre-processing ‡πÅ‡∏•‡∏∞ link ‡πÑ‡∏õ‡∏ó‡∏µ‡πà Dashboard ‡∏ó‡∏µ‡πà‡∏™‡∏£‡πâ‡πà‡∏≤‡∏á‡πÇ‡∏î‡∏¢‡πÄ‡∏õ‡∏¥‡∏î‡πÉ‡∏´‡πâ‡∏™‡∏≤‡∏°‡∏≤‡∏£‡∏ñ‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ‡∏î‡∏π‡πÅ‡∏•‡∏∞‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÑ‡∏î‡πâ)
‡∏™‡πà‡∏á‡πÑ‡∏°‡πà‡πÄ‡∏Å‡∏¥‡∏ô 23.59 ‡∏ß‡∏±‡∏ô‡∏à‡∏±‡∏ô‡∏ó‡∏£‡πå‡∏ó‡∏µ‡πà 11 ‡πÄ‡∏°‡∏©‡∏≤‡∏¢‡∏ô 2565

# ‚úÖ link ‡πÑ‡∏õ‡∏ó‡∏µ‡πà Dashboard

[https://datastudio.google.com/s/vFv5_v4X2GM](https://)

# üîó Import Data

In [ ]:
import pandas as pd #‡πÄ‡∏û‡∏∑‡πà‡∏≠‡πÉ‡∏ä‡πâ‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏ï‡∏≤‡∏£‡∏≤‡∏á
import os           #‡πÄ‡∏û‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Å‡∏±‡∏ö‡πÑ‡∏ü‡∏•‡πå ‡πÅ‡∏•‡∏∞ ‡∏ï‡∏±‡∏ß path ‡∏ó‡∏µ‡πà‡πÄ‡∏£‡∏≤‡∏à‡∏∞‡∏ô‡∏≥‡πÄ‡∏Ç‡πâ‡∏≤

In [ ]:
from google.colab import drive # ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ö‡∏±‡∏ç‡∏ä‡∏µ‡∏Å‡∏±‡∏ö google drive
drive.mount('/content/drive') # ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏¥‡∏î‡∏´‡∏£‡∏∑‡∏≠‡πÑ‡∏°‡πà

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/Final_Dataviz'

##Data 1 alldb.csv

In [ ]:
data1_alldb = pd.read_csv(os.path.join(path,'alldb.csv'))
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,‡πÄ‡∏Å‡∏©‡∏®‡∏¥‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå ‡πÑ‡∏ä‡∏¢‡∏•‡∏≤‡∏†,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),5,‡πÄ‡∏ñ‡∏•‡∏¥‡∏á‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡∏ï‡∏¥ ‡πÄ‡∏™‡∏£‡∏¥‡∏ê‡πÄ‡∏•‡∏¥‡∏®,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed

In [ ]:
data1_alldb= data1_alldb.rename(columns={'title':'gender'})  #  ‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå title ‡πÄ‡∏õ‡πá‡∏ô gender
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,‡πÄ‡∏Å‡∏©‡∏®‡∏¥‡∏£‡∏¥‡∏ô‡∏ó‡∏£‡πå ‡πÑ‡∏ä‡∏¢‡∏•‡∏≤‡∏†,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),5,‡πÄ‡∏ñ‡∏•‡∏¥‡∏á‡πÄ‡∏Å‡∏µ‡∏¢‡∏£‡∏ï‡∏¥ ‡πÄ‡∏™‡∏£‡∏¥‡∏ê‡πÄ‡∏•‡∏¥‡∏®,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),1,‡πÄ‡∏™‡∏£‡∏µ,data is not completed,data is not completed

# ‚ñ∂ user ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)

In [ ]:
data1_alldb = data1_alldb[(data1_alldb['user'].astype(str).str.isdigit()) & (data1_alldb['user'].str.len() == 5)]      # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå user ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

In [ ]:
set(data1_alldb['user'])

{'32622',
 '11055',
 '65656',
 '00152',
 '29094',
 '16904',
 '80382',
 '81621',
 '89329',
 '57066',
 '07644',
 '33664',
 '03359',
 '16604',
 '32468',
 '33553',
 '43257',
 '96417',
 '88973',
 '92120',
 '71152',
 '28291',
 '64385',
 '05590',
 '59361',
 '61087',
 '30660',
 '94392',
 '81570',
 '36692',
 '29051',
 '25659',
 '04193',
 '81409',
 '46643',
 '00215',
 '78251',
 '84540',
 '00230',
 '00032',
 '51175',
 '18318',
 '67778',
 '36001',
 '87029',
 '97860',
 '77384',
 '39965',
 '74369',
 '00252',
 '00047',
 '82822',
 '72486',
 '21432',
 '75838',
 '00157',
 '37127',
 '53751',
 '05091',
 '31619',
 '22119',
 '63312',
 '18181',
 '28743',
 '89470',
 '71998',
 '64817',
 '26574',
 '63039',
 '86981',
 '14455',
 '24032',
 '06924',
 '59051',
 '87181',
 '16630',
 '00076',
 '00159',
 '45752',
 '39593',
 '50276',
 '31011',
 '18513',
 '00213',
 '07203',
 '55239',
 '41026',
 '19527',
 '51235',
 '25083',
 '94135',
 '54761',
 '00115',
 '46333',
 '56051',
 '47810',
 '76642',
 '97016',
 '94601',
 '11887',
 '73336',
 '67280',
 '63098',
 '74375',
 '83257',
 '46948',
 '29999',
 '15588',
 '78054',
 '00030',
 '00161',
 '12576',
 '03308',
 '49413',
 '52013',
 '52180',
 '17769',
 '23078',
 '23049',
 '05961',
 '11111',
 '06855',
 '56821',
 '26841',
 '17564',
 '01068',
 '31982',
 '37914',
 '21177',
 '49741',
 '67400',
 '44199',
 '76331',
 '99011',
 '05047',
 '05210',
 '00271',
 '22244',
 '00197',
 '35139',
 '32200',
 '12003',
 '64211',
 '21955',
 '43791',
 '81529',
 '65254',
 '00185',
 '34791',
 '26459',
 '83777',
 '80374',
 '78231',
 '80067',
 '46520',
 '26199',
 '39764',
 '08971',
 '93028',
 '33100',
 '32387',
 '02784',
 '37231',
 '05038',
 '23012',
 '79001',
 '41340',
 '00004',
 '70492',
 '47429',
 '84409',
 '98245',
 '88538',
 '60250',
 '80289',
 '45876',
 '00287',
 '94279',
 '09315',
 '47602',
 '00050',
 '89394',
 '00304',
 '03338',
 '65854',
 '12839',
 '00005',
 '46775',
 '96670',
 '03523',
 '05391',
 '45668',
 '21831',
 '88351',
 '62059',
 '01008',
 '47146',
 '24563',
 '00136',
 '17777',
 '95161',
 '26469',
 '19920',
 '37216',
 '00182',
 '45641',
 '47567',
 '34322',
 '06223',
 '00208',
 '10194',
 '27503',
 '61486',
 '81472',
 '38822',
 '00206',
 '00322',
 '10348',
 '00205',
 '73302',
 '62443',
 '19180',
 '08818',
 '70671',
 '00214',
 '74335',
 '54214',
 '89681',
 '78960',
 '76475',
 '24375',
 '70054',
 '24846',
 '86774',
 '54614',
 '02217',
 '57954',
 '71805',
 '60147',
 '23214',
 '65075',
 '65321',
 '32891',
 '23596',
 '11808',
 '22354',
 '33103',
 '46767',
 '12723',
 '71813',
 '11027',
 '05069',
 '53045',
 '01651',
 '38305',
 '32581',
 '82954',
 '28062',
 '37915',
 '00046',
 '65733',
 '51060',
 '92042',
 '32796',
 '47354',
 '02889',
 '22478',
 '00155',
 '69566',
 '25128',
 '92220',
 '24229',
 '52147',
 '37091',
 '23811',
 '03535',
 '79525',
 '68805',
 '32082',
 '46970',
 '33643',
 '94758',
 '59305',
 '00268',
 '65953',
 '04402',
 '44805',
 '00053',
 '24404',
 '87797',
 '04461',
 '49308',
 '18849',
 '00015',
 '00156',
 '05151',
 '15963',
 '49901',
 '72364',
 '62616',
 '02087',
 '24468',
 '00065',
 '75347',
 '18025',
 '42173',
 '63753',
 '83771',
 '73225',
 '00343',
 '01882',
 '46662',
 '00052',
 '18873',
 '22635',
 '14764',
 '03562',
 '58814',
 '05063',
 '96099',
 '51795',
 '39537',
 '82582',
 '00022',
 '98290',
 '34585',
 '16725',
 '00020',
 '77567',
 '33739',
 '19756',
 '53510',
 '02091',
 '79322',
 '86474',
 '49268',
 '51301',
 '27143',
 '31133',
 '63381',
 '29875',
 '00081',
 '22804',
 '79620',
 '15971',
 '00545',
 '10724',
 '40828',
 '21860',
 '13088',
 '91209',
 '80880',
 '02693',
 '03431',
 '00216',
 '17916',
 '05113',
 '65388',
 '87697',
 '10375',
 '65775',
 '00048',
 '32077',
 '46313',
 '00090',
 '61813',
 '16848',
 '32816',
 '33237',
 '11891',
 '14189',
 '87374',
 '54788',
 '37249',
 '88337',
 '74367',
 '81197',
 '88708',
 '26651',
 '00141',
 '00007',
 '50624',
 '51241',
 '99475',
 '28399',
 '00293',
 '00162',
 '25176',
 '94881',
 '01637',
 '14988',
 '00196',
 '92756',
 '06268',
 '11198',
 '00246',
 '27802',
 '74394',
 '14914',
 '63799',
 '76819',
 '00292',
 '22824',
 '00748',
 '00273',
 '23958',
 '66191',
 '48393',
 '75921',
 '47933',
 '55692',
 '00055',
 '43431',
 '26859',
 '00209',
 '01850',
 '16971',
 '86601',
 '30481',
 '14387',
 '95193',
 '46783',
 '76105',
 '02663',
 '10460',
 '41951',
 '62241',
 '50284',
 '16174',
 '94406',
 '63471',
 '85504',
 '00153',
 '15102',
 '00241',
 '31755',
 '20454',
 '00357',
 '61121',
 '00328',
 '17982',
 '00198',
 '29485',
 '00124',
 '63910',
 '25179',
 '43143',
 '65675',
 '00071',
 '30767',
 '46627',
 '97770',
 '75579',
 '65301',
 '98260',
 '46622',
 '58668',
 '00133',
 '00150',
 '02728',
 '99999',
 '64199',
 '23231',
 '75910',
 '38522',
 '32949',
 '00051',
 '29118',
 '22692',
 '00165',
 '47122',
 '00195',
 '11282',
 '00260',
 '00308',
 '53616',
 '11165',
 '05019',
 '45787',
 '51892',
 '46732',
 '21751',
 '63748',
 '45593',
 '29476',
 '63606',
 '19591',
 '96431',
 '00008',
 '33503',
 '19578',
 '19800',
 '82054',
 '39079',
 '84374',
 '92747',
 '86542',
 '77572',
 '89081',
 '22455',
 '41042',
 '47593',
 '28551',
 '55430',
 '48069',
 '70196',
 '69789',
 '87394',
 '44888',
 '28992',
 '49322',
 '55075',
 '26082',
 '47623',
 '17184',
 '18865',
 '26779',
 '53076',
 '61806',
 '00129',
 '61182',
 '46566',
 '99771',
 '18737',
 '74432',
 '03558',
 '77249',
 '46341',
 '45924',
 '95151',
 '99245',
 '67094',
 '00069',
 '13312',
 '58196',
 '67864',
 '50802',
 '02862',
 '40533',
 '68317',
 '19855',
 '00045',
 '48514',
 '43228',
 '69576',
 '90154',
 '66155',
 '47858',
 '00166',
 '83733',
 '24559',
 '11816',
 '86588',
 '89609',
 '05663',
 '05849',
 '50466',
 '52210',
 '96349',
 '95821',
 '06385',
 '76523',
 '14771',
 '27529',
 '55873',
 '14491',
 '66801',
 '85433',
 '09343',
 '37228',
 '09006',
 '12561',
 '50063',
 '04991',
 '00910',
 '00217',
 '49161',
 '61419',
 '23738',
 '00283',
 '80364',
 '45884',
 '70973',
 '66205',
 '08236',
 '25923',
 '68759',
 '02604',
 '28977',
 '89195',
 '81057',
 '96292',
 '10691',
 '72225',
 '23889',
 '47157',
 '72483',
 '52678',
 '25804',
 '56845',
 '85094',
 '26445',
 '00144',
 '19411',
 '14360',
 '54932',
 '14835',
 '13406',
 '98126',
 '14380',
 '12044',
 '10673',
 '03953',
 '60887',
 '44509',
 '46960',
 '29271',
 '68037',
 '66771',
 '67212',
 '03649',
 '66082',
 '35888',
 '12605',
 '44201',
 '07427',
 '01248',
 '16193',
 '77688',
 '97965',
 '33316',
 '74747',
 '08734',
 '69431',
 '65995',
 '45736',
 '00324',
 '93509',
 '37551',
 '14884',
 '96771',
 '62105',
 '31762',
 '21010',
 '00127',
 '00297',
 '02639',
 '89493',
 '97461',
 '33791',
 '04221',
 '02579',
 '52066',
 '47135',
 '77862',
 '76851',
 '18253',
 '92948',
 '53579',
 '14291',
 '25683',
 '93726',
 '03263',
 '41921',
 '06316',
 '06079',
 '37186',
 '53333',
 '06681',
 '35178',
 '09188',
 '18524',
 '00320',
 '00118',
 '00028',
 '91947',
 '88942',
 '71228',
 '16321',
 '17055',
 '05368',
 '00781',
 '76088',
 '69556',
 '93671',
 '00399',
 '13070',
 '84196',
 '02647',
 '00109',
 '00404',
 '00002',
 '23630',
 '45047',
 '27046',
 '32666',
 '19575',
 '71378',
 '95104',
 '38381',
 '67352',
 '34801',
 '60879',
 '53943',
 '97308',
 '92648',
 '00116',
 '17415',
 '35605',
 '72186',
 '05154',
 '28381',
 '84276',
 '00193',
 '81293',
 '24491',
 '37732',
 '31811',
 '01883',
 '00313',
 '16085',
 '40881',
 '00400',
 '00224',
 '00121',
 '23796',
 '59181',
 '49634',
 '77645',
 '05433',
 '47061',
 '00033',
 '26773',
 '03100',
 '84493',
 '44364',
 '16112',
 '46597',
 '52520',
 '11387',
 '61552',
 '67409',
 '10982',
 '38500',
 '49659',
 '04405',
 '87541',
 '25199',
 '05304',
 '80979',
 '92241',
 '60909',
 '00172',
 '26043',
 '76339',
 '25403',
 '09902',
 '22099',
 '78257',
 '25331',
 '18733',
 '45729',
 '88377',
 '93307',
 '00315',
 '11522',
 '16529',
 '65555',
 '00307',
 '95609',
 '84375',
 '69911',
 '54544',
 '31792',
 '23675',
 '05152',
 '46291',
 '00288',
 '87738',
 '26531',
 '56004',
 '00305',
 '00566',
 '68829',
 '28348',
 '22377',
 '00290',
 '61746',
 '00026',
 '85702',
 '34711',
 '00291',
 '99250',
 '16783',
 '00158',
 '06283',
 '20380',
 '00285',
 '00013',
 '61591',
 '58271',
 '67450',
 '50047',
 '38727',
 '70610',
 '00018',
 '01183',
 '90888',
 '78133',
 '92545',
 '01730',
 '00135',
 '89251',
 '95810',
 '28627',
 '80317',
 '77665',
 '19737',
 '89837',
 '60688',
 '34829',
 '36390',
 '82277',
 '94150',
 '10695',
 '97484',
 '17790',
 '87468',
 '74782',
 '67961',
 '41301',
 '00140',
 '42370',
 '63485',
 '66473',
 '45846',
 '00190',
 '63837',
 '34705',
 '58870',
 '00049',
 '21688',
 '52912',
 '75835',
 '85379',
 '00021',
 '17966',
 '42682',
 '76011',
 '59144',
 '49215',
 '00286',
 '25829',
 '66062',
 '85753',
 '73000',
 '05211',
 '74069',
 '26916',
 '51403',
 '14106',
 '44018',
 '32948',
 '55806',
 '60581',
 '50577',
 '13978',
 '82777',
 '28241',
 '87337',
 '65632',
 '62415',
 '75126',
 '38547',
 '40551',
 '20435',
 '91402',
 '15801',
 '24179',
 '00148',
 '45485',
 '49241',
 '19632',
 '00219',
 '31283',
 '88135',
 '00192',
 '45783',
 '16247',
 '76486',
 '00017',
 '22722',
 '48255',
 '08773',
 '96730',
 '74493',
 '77509',
 '50727',
 '08242',
 '16675',
 '33081',
 '49961',
 '63564',
 '48908',
 '66381',
 '54468',
 '79920',
 '53920',
 '98156',
 '05242',
 '57099',
 '16372',
 '65390',
 '37259',
 '62334',
 '00409',
 '61095',
 '66261',
 '49791',
 '96061',
 '75061',
 '20847',
 '08741',
 '24622',
 '89475',
 '70281',
 '27902',
 '78486',
 '00014',
 '03381',
 '00154',
 '00277',
 '00176',
 '61325',
 '48646',
 '95291',
 '52724',
 '00044',
 '25071',
 '29907',
 '53041',
 '02396',
 '00755',
 '74951',
 '27484',
 '23058',
 '92691',
 '98474',
 '99376',
 '72330',
 '15980',
 '00019',
 '90609',
 '70810',
 '86758',
 '87315',
 '50349',
 '00321',
 '09820',
 '03736',
 '25721',
 '29796',
 '03169',
 '54781',
 '03080',
 '81537',
 '05272',
 '31114',
 '51973',
 '00756',
 '63323',
 '05374',
 '03831',
 '84392',
 '05082',
 '20827',
 '14891',
 '27678',
 '14088',
 '92431',
 '06260',
 '67972',
 '36358',
 '87536',
 '58718',
 '01088',
 '91167',
 '28010',
 '48956',
 '23010',
 '51039',
 '16820',
 '06964',
 '17938',
 '90770',
 '83276',
 '60953',
 '36593',
 '50471',
 '25478',
 ...}

# ‚ñ∂ RowKey ‡πÄ‡∏õ‡πá‡∏ô String

In [ ]:
data1_alldb['RowKey']=data1_alldb['RowKey'].astype('string') #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô dtype ‡πÄ‡∏õ‡πá‡∏ô  String
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

In [ ]:
print(data1_alldb.dtypes)  #‡∏û‡∏ö‡∏ß‡πà‡∏≤ RowKey ‡πÄ‡∏õ‡πá‡∏ô String

Unnamed: 0       int64
user            object
RowKey          string
care            object
date            object
ov              object
phone           object
site            object
time            object
urine           object
pid             object
PartitionKey    object
gender          object
age             object
dtype: object

# ‚ñ∂ date ‡πÄ‡∏õ‡πá‡∏ô YYYY-MM-DD

In [ ]:
data1_alldb['date'] = pd.to_datetime(data1_alldb ['date'],format='%Y/%m/%d') #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Ç‡∏≠‡∏á ‡∏ß‡∏±‡∏ô‡πÄ‡∏î‡∏∑‡∏≠‡∏ô‡∏õ‡∏µ 
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaT,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

In [ ]:
data1_alldb[['date']] = data1_alldb[['date']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏') #‡πÅ‡∏ó‡∏ô '‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏' ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

# ‚ñ∂ phone ‡πÄ‡∏õ‡πá‡∏ô String

In [ ]:
data1_alldb['phone']=data1_alldb['phone'].astype('string') #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô dtype ‡πÄ‡∏õ‡πá‡∏ô  String
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,2,Samsung SM-G998B,xxxxx,NaN,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,xxxxx,NaN,NaN

In [ ]:
print(data1_alldb.dtypes)  #‡∏û‡∏ö‡∏ß‡πà‡∏≤ phone ‡πÄ‡∏õ‡πá‡∏ô String

Unnamed: 0       int64
user            object
RowKey          string
care            object
date            object
ov              object
phone           string
site            object
time            object
urine           object
pid             object
PartitionKey    object
gender          object
age             object
dtype: object

# ‚ñ∂ site ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)

In [ ]:
data1_alldb= data1_alldb[(data1_alldb['site'].astype(str).str.isdigit()) & (data1_alldb['site'].str.len() == 5)]         # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå site ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [ ]:
set(data1_alldb['site'])

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05369',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05438',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13377',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

# ‚ñ∂ time ‡πÄ‡∏õ‡πá‡∏ô hh-mm-ss

In [ ]:
data1_alldb['time'] = pd.to_datetime(data1_alldb['time'],format='%H:%M%:%S',errors='ignore')  #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö‡∏Ç‡∏≠‡∏á time 
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [ ]:
data1_alldb[['time']] = data1_alldb[['time']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')  #‡πÅ‡∏ó‡∏ô ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ urine ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤ String

In [ ]:
data1_alldb['urine']=data1_alldb['urine'].astype('string') #‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô dtype ‡πÄ‡∏õ‡πá‡∏ô  String
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,<NA>,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,<NA>,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,<NA>,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,<NA>,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,<NA>,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [ ]:
print(data1_alldb.dtypes) #‡∏û‡∏ö‡∏ß‡πà‡∏≤ urine  ‡πÄ‡∏õ‡πá‡∏ô   string

Unnamed: 0       int64
user            object
RowKey          string
care            object
date            object
ov              object
phone           string
site            object
time            object
urine           string
pid             object
PartitionKey    object
gender          object
age             object
dtype: object

In [ ]:
data1_alldb[['urine']] = data1_alldb[['urine']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')  #‡πÅ‡∏ó‡∏ô ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ ov ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡∏°‡∏µ‡∏Ñ‡πà‡∏≤‡∏ï‡∏±‡πâ‡∏á‡πÅ‡∏ï‡πà 0-4 (0 ‡∏Ñ‡∏∑‡∏≠‡πÑ‡∏°‡πà‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ 1-4 ‡∏Ñ‡∏∑‡∏≠‡∏û‡∏ö‡πÇ‡∏£‡∏Ñ‡∏ó‡∏µ‡πà‡∏£‡∏∞‡∏î‡∏±‡∏ö‡∏Ñ‡∏ß‡∏≤‡∏°‡∏£‡∏∏‡∏ô‡πÅ‡∏£‡∏á‡∏ï‡πà‡∏≤‡∏á‡πÜ)

In [ ]:
data1_alldb['ov']

1        NaN
5        NaN
7        NaN
11       NaN
12       NaN
        ...
39812      1
39813      0
39814      1
39815      1
39816      1
Name: ov, Length: 38493, dtype: object

In [ ]:
set(data1_alldb['ov']) #‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏πset ‡∏Ç‡∏≠‡∏áov

{'0', '1', '2', '3', '4', nan, '‡∏ï‡∏¥‡∏î‡πÄ‡∏ä‡∏∑‡πâ‡∏≠ +2 '}

In [ ]:
data1_alldb =data1_alldb[data1_alldb['ov']!='‡∏ï‡∏¥‡∏î‡πÄ‡∏ä‡∏∑‡πâ‡∏≠ +2 ']  #‡πÑ‡∏°‡πà‡πÄ‡∏≠‡∏≤ '‡∏ï‡∏¥‡∏î‡πÄ‡∏ä‡∏∑‡πâ‡∏≠ +2 '
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [ ]:
data1_alldb[['ov']] = data1_alldb[['ov']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')  #‡πÅ‡∏ó‡∏ô ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone10,4",05310,10:50:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone13,2",05248,10:14:46,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone10,4",05310,11:14:21,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone13,2",05248,10:14:32,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27 00:00:00,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,"iPhone13,3",22222,17:39:35,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

# ‚ñ∂ PartitionKey ‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç 5 ‡∏´‡∏•‡∏±‡∏Å (‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç‡πÄ‡∏ó‡πà‡∏≤‡∏ô‡∏±‡πâ‡∏ô)

In [ ]:
data1_alldb= data1_alldb[(data1_alldb['PartitionKey'].astype(str).str.isdigit()) & (data1_alldb['PartitionKey'].str.len() == 5)]      # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå PartitionKey ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏á,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏á,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ô‡∏≤‡∏¢,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,NaN,NaN

In [ ]:
set(data1_alldb['PartitionKey'])

{'01667',
 '02887',
 '04717',
 '01352',
 '02892',
 '02456',
 '01834',
 '03060',
 '03309',
 '02808',
 '00371',
 '01504',
 '10975',
 '00152',
 '01738',
 '00973',
 '01333',
 '04033',
 '02486',
 '02702',
 '00818',
 '01382',
 '02253',
 '02190',
 '01367',
 '02673',
 '03983',
 '10998',
 '03462',
 '00430',
 '10966',
 '01671',
 '01292',
 '11003',
 '03189',
 '33664',
 '04785',
 '02461',
 '01736',
 '00390',
 '01821',
 '03359',
 '08979',
 '02421',
 '01620',
 '02951',
 '02936',
 '00383',
 '02791',
 '00696',
 '01451',
 '02674',
 '01541',
 '08958',
 '04072',
 '03137',
 '00747',
 '00832',
 '01817',
 '03128',
 '02439',
 '04665',
 '01868',
 '06182',
 '04193',
 '00988',
 '00917',
 '03176',
 '00541',
 '01259',
 '05147',
 '00215',
 '00638',
 '01992',
 '01808',
 '00230',
 '05343',
 '00851',
 '00931',
 '00032',
 '00457',
 '02156',
 '00505',
 '01280',
 '03305',
 '00567',
 '00480',
 '00763',
 '05980',
 '00252',
 '01707',
 '00503',
 '02918',
 '00458',
 '01976',
 '02497',
 '00656',
 '01533',
 '00047',
 '06019',
 '01238',
 '02678',
 '00093',
 '00332',
 '02004',
 '00157',
 '00633',
 '01051',
 '01725',
 '01055',
 '02731',
 '01844',
 '03129',
 '00247',
 '02409',
 '10970',
 '05091',
 '02066',
 '00942',
 '04694',
 '00379',
 '01513',
 '02383',
 '01334',
 '02271',
 '02917',
 '00310',
 '04754',
 '09001',
 '01197',
 '00642',
 '00402',
 '02199',
 '02978',
 '03006',
 '03220',
 '01943',
 '01787',
 '08314',
 '00676',
 '01180',
 '02688',
 '01888',
 '01593',
 '00229',
 '02389',
 '02292',
 '02775',
 '00846',
 '01505',
 '00619',
 '05727',
 '01465',
 '01973',
 '03509',
 '05110',
 '02350',
 '05099',
 '06005',
 '00076',
 '01094',
 '00159',
 '01820',
 '03552',
 '02997',
 '08572',
 '01833',
 '01359',
 '02971',
 '03496',
 '00437',
 '00239',
 '02287',
 '02781',
 '00213',
 '08934',
 '00956',
 '03483',
 '01268',
 '01328',
 '05316',
 '02254',
 '01953',
 '02348',
 '03156',
 '04075',
 '02985',
 '05098',
 '08964',
 '06002',
 '00115',
 '02504',
 '02431',
 '02249',
 '04511',
 '00971',
 '01816',
 '00824',
 '02866',
 '00663',
 '01982',
 '00813',
 '08503',
 '01279',
 '01355',
 '01566',
 '00493',
 '02863',
 '04652',
 '01529',
 '02222',
 '01545',
 '01967',
 '00608',
 '01169',
 '00030',
 '00161',
 '00891',
 '09015',
 '00689',
 '00737',
 '01308',
 '01915',
 '00901',
 '01930',
 '01921',
 '02096',
 '00420',
 '00669',
 '06050',
 '02524',
 '05128',
 '01789',
 '02060',
 '00471',
 '01670',
 '05961',
 '11111',
 '01173',
 '01406',
 '00989',
 '01922',
 '08990',
 '00878',
 '01957',
 '08941',
 '01692',
 '01068',
 '01310',
 '01098',
 '01203',
 '02224',
 '01577',
 '01994',
 '01546',
 '00056',
 '06052',
 '01751',
 '00999',
 '01075',
 '01508',
 '01644',
 '01824',
 '01331',
 '02021',
 '00271',
 '05716',
 '01318',
 '00197',
 '01447',
 '01519',
 '02679',
 '00261',
 '01597',
 '02485',
 '05986',
 '06064',
 '02941',
 '02062',
 '06006',
 '00185',
 '09028',
 '01380',
 '04638',
 '02864',
 '00456',
 '00465',
 '01054',
 '03939',
 '06029',
 '05247',
 '91123',
 '01557',
 '01741',
 '00620',
 '00800',
 '00359',
 '00538',
 '03724',
 '04111',
 '00429',
 '05120',
 '00103',
 '02799',
 '06058',
 '01810',
 '02812',
 '01849',
 '01326',
 '01475',
 '08922',
 '08971',
 '01801',
 '04688',
 '02784',
 '00773',
 '03366',
 '01416',
 '00944',
 '01177',
 '00242',
 '01902',
 '02779',
 '02467',
 '03824',
 '00817',
 '03389',
 '00004',
 '00974',
 '02710',
 '00502',
 '01042',
 '00558',
 '01001',
 '00491',
 '02752',
 '02352',
 '01336',
 '02823',
 '03298',
 '02262',
 '02360',
 '03230',
 '03542',
 '08965',
 '01763',
 '09037',
 '01435',
 '02333',
 '09041',
 '00287',
 '00441',
 '01047',
 '03167',
 '03244',
 '00050',
 '03338',
 '00304',
 '01370',
 '01625',
 '01631',
 '08908',
 '00005',
 '00786',
 '02565',
 '01349',
 '04020',
 '02861',
 '04735',
 '02077',
 '03057',
 '00474',
 '01008',
 '02490',
 '00136',
 '01089',
 '02925',
 '01806',
 '02026',
 '00182',
 '01959',
 '04800',
 '00445',
 '05718',
 '06185',
 '01780',
 '02216',
 '06020',
 '08932',
 '01072',
 '01624',
 '09026',
 '08945',
 '00842',
 '00703',
 '01549',
 '00208',
 '01236',
 '02795',
 '04650',
 '08930',
 '01296',
 '00206',
 '00322',
 '01449',
 '02652',
 '02767',
 '02677',
 '02014',
 '00812',
 '00953',
 '01630',
 '01979',
 '00716',
 '04671',
 '03093',
 '02247',
 '00205',
 '02334',
 '02071',
 '02944',
 '02214',
 '08925',
 '01993',
 '05988',
 '00473',
 '00214',
 '00475',
 '01092',
 '02686',
 '02827',
 '02852',
 '00442',
 '06031',
 '03441',
 '02070',
 '01946',
 '02475',
 '00954',
 '02340',
 '01864',
 '10408',
 '01555',
 '01283',
 '04143',
 '00739',
 '01690',
 '01300',
 '02802',
 '02776',
 '00847',
 '02160',
 '04106',
 '01568',
 '02028',
 '01304',
 '02757',
 '00243',
 '08909',
 '01289',
 '00864',
 '02154',
 '00914',
 '00597',
 '02208',
 '02481',
 '04115',
 '00092',
 '01952',
 '01362',
 '00560',
 '00740',
 '00820',
 '01651',
 '01978',
 '02814',
 '01114',
 '01569',
 '00795',
 '03877',
 '00110',
 '00623',
 '00046',
 '01350',
 '01393',
 '03265',
 '01325',
 '01966',
 '01997',
 '10989',
 '01661',
 '01274',
 '02084',
 '02756',
 '05830',
 '01244',
 '00701',
 '02889',
 '01839',
 '02452',
 '02329',
 '00155',
 '05223',
 '03287',
 '00927',
 '01782',
 '08519',
 '01438',
 '06721',
 '00700',
 '10971',
 '02979',
 '00601',
 '05107',
 '02413',
 '03535',
 '04046',
 '01485',
 '01494',
 '00487',
 '09003',
 '01335',
 '04188',
 '04640',
 '01796',
 '04651',
 '01615',
 '03461',
 '02766',
 '08959',
 '01502',
 '05127',
 '02472',
 '00256',
 '03544',
 '03188',
 '01474',
 '04680',
 '03199',
 '01578',
 '00268',
 '04192',
 '01257',
 '00053',
 '06032',
 '01275',
 '00385',
 '02704',
 '01430',
 '01906',
 '02122',
 '03179',
 '02291',
 '00618',
 '00835',
 '01786',
 '01041',
 '01252',
 '02051',
 '01926',
 '01591',
 '05115',
 '01775',
 '00015',
 '08254',
 '00257',
 '01527',
 '04101',
 '08993',
 '00156',
 '00485',
 '01674',
 '00798',
 '02949',
 '03405',
 '01193',
 '01006',
 '03019',
 '05721',
 '01954',
 '03511',
 '00460',
 '02749',
 '10965',
 '00065',
 '02726',
 '01020',
 '05125',
 '01499',
 '02558',
 '00920',
 '01830',
 '02180',
 '01629',
 '02644',
 '00746',
 '05957',
 '00343',
 '01000',
 '00370',
 '03333',
 '05233',
 '01086',
 '00674',
 '01882',
 '00576',
 '03004',
 '03007',
 '00052',
 '08984',
 '02057',
 '00733',
 '00067',
 '06043',
 '02538',
 '03272',
 '01795',
 '03410',
 '00494',
 '02367',
 '03362',
 '00375',
 '08976',
 '01584',
 '05341',
 '01828',
 '02623',
 '00022',
 '02960',
 '00344',
 '05976',
 '00020',
 '01085',
 '00735',
 '05993',
 '00477',
 '01885',
 '02321',
 '01192',
 '01770',
 '08915',
 '02687',
 '00738',
 '03296',
 '02777',
 '06034',
 '02313',
 '00596',
 '11002',
 '03378',
 '10995',
 '00555',
 '01688',
 '02072',
 '03042',
 '01562',
 '08596',
 '01003',
 '01595',
 '02564',
 '01608',
 '04813',
 '06015',
 '00704',
 '02986',
 '00081',
 '01831',
 '01105',
 '01496',
 '02550',
 '03030',
 '04014',
 '00909',
 '00938',
 '01263',
 '01425',
 '01709',
 '02555',
 '06262',
 '00545',
 '03236',
 '10983',
 '00380',
 '01369',
 '01397',
 '00216',
 '06012',
 '01198',
 '02540',
 '10964',
 '01032',
 '05113',
 '04766',
 '02915',
 '00686',
 '01623',
 '01702',
 '01347',
 '01881',
 '00048',
 '05105',
 '00090',
 '08948',
 '00416',
 '02507',
 '02988',
 '00742',
 '01007',
 '02209',
 '03215',
 '01214',
 '03224',
 '02395',
 '05122',
 '01338',
 '01156',
 '04684',
 '03261',
 '00497',
 '02103',
 '00769',
 '01552',
 '08924',
 '00391',
 '00141',
 '00007',
 '01904',
 '01852',
 '04030',
 '08973',
 '06038',
 '00982',
 '01013',
 '04658',
 '00714',
 '00293',
 '03454',
 '01469',
 '00162',
 '00671',
 '01708',
 '00844',
 '01420',
 '02196',
 '02204',
 '02875',
 '01733',
 '00496',
 '03105',
 '03527',
 '04052',
 '01260',
 '01865',
 '00764',
 '00862',
 '00495',
 '02548',
 '08123',
 '01637',
 '01050',
 '00981',
 '02932',
 '02112',
 '03329',
 '00590',
 '01779',
 '02370',
 '00196',
 '00408',
 '03981',
 '04649',
 '02713',
 '02408',
 '00246',
 '00848',
 '02489',
 '02366',
 '02987',
 '03804',
 '08994',
 '08996',
 '03708',
 '02469',
 '02406',
 '04019',
 '01082',
 '02596',
 '01081',
 '03954',
 '01941',
 '02073',
 '02377',
 '04646',
 '01518',
 '02905',
 '01517',
 '00181',
 '06033',
 '04165',
 '00292',
 '02007',
 '04186',
 '09011',
 '02730',
 '01468',
 '00748',
 '00314',
 '00273',
 '00459',
 '02202',
 '02855',
 '03400',
 '06059',
 '05209',
 '00997',
 '01649',
 '01940',
 '03096',
 '00806',
 '02403',
 '05310',
 '00726',
 '00055',
 '00209',
 '00553',
 '01850',
 '05111',
 '01669',
 '00559',
 '02685',
 '04118',
 '05267',
 '00422',
 '00729',
 '05281',
 '03003',
 '04100',
 '02332',
 '01417',
 '00564',
 '00934',
 '00589',
 '04781',
 '08284',
 '03211',
 '01100',
 '00153',
 '03267',
 '01977',
 '00241',
 '01141',
 '00357',
 '01253',
 '05097',
 '00328',
 '06729',
 '00776',
 '00198',
 '08067',
 '01005',
 '00888',
 '00994',
 '02076',
 '03222',
 '01093',
 '00124',
 '05146',
 '02147',
 '00071',
 '03227',
 '10988',
 '00095',
 '03107',
 '00761',
 '02754',
 '02423',
 '02417',
 '01936',
 '00133',
 '00150',
 '00570',
 '02728',
 '09005',
 '02248',
 '99999',
 '01681',
 '00104',
 '00334',
 '08989',
 '04011',
 '00594',
 '08929',
 '02651',
 '01351',
 '01964',
 '02189',
 '00884',
 '01686',
 '00892',
 '00778',
 '00051',
 '01458',
 '01281',
 '04812',
 '08969',
 '01443',
 '03383',
 '00165',
 '03197',
 '01526',
 '01729',
 '08902',
 '03825',
 '03521',
 '02880',
 '00195',
 '00970',
 '10961',
 '00654',
 '02223',
 '02637',
 '00354',
 '09030',
 '01945',
 '02794',
 '03106',
 '00260',
 '02420',
 '03304',
 '04674',
 '05266',
 '00308',
 '02742',
 '02079',
 '02513',
 '05094',
 '00830',
 '01264',
 '01717',
 '02257',
 '00479',
 '04682',
 '00690',
 '03056',
 '01560',
 '04253',
 '00961',
 '01437',
 '04618',
 '03066',
 '00365',
 '01886',
 '03433',
 '00488',
 '00595',
 '00698',
 '03934',
 '00337',
 '08115',
 '00499',
 '01356',
 '00222',
 '02912',
 '00823',
 '00102',
 '01581',
 '03269',
 '01547',
 '01792',
 '00397',
 '03464',
 '00556',
 '03397',
 '09025',
 '01955',
 '01033',
 '02874',
 '01920',
 '00606',
 '03234',
 '01433',
 '04136',
 '87720',
 '00008',
 '00661',
 '01394',
 '02002',
 '04793',
 '03063',
 '05396',
 '04620',
 '01354',
 '04116',
 '11163',
 '00096',
 '02351',
 '01145',
 '01841',
 '01638',
 '00529',
 ...}

# ‚ñ∂ ‡∏≠‡∏∑‡πà‡∏ô‡πÜ‡∏ó‡∏µ‡πà‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÇ‡∏¢‡∏ä‡∏ô‡πå [gender]

In [ ]:
data1_alldb['gender']

190         NaN
191      ‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß
192         ‡∏ô‡∏≤‡∏á
193         ‡∏ô‡∏≤‡∏á
194         ‡∏ô‡∏≤‡∏¢
          ...
39812       NaN
39813       NaN
39814       NaN
39815       NaN
39816       NaN
Name: gender, Length: 38381, dtype: object

In [ ]:
set(data1_alldb['gender']) #‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏πset ‡∏Ç‡∏≠‡∏ágender

{'  ‡∏ô‡∏≤‡∏á',
 ' ‡∏ô‡∏≤‡∏á',
 ' ‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß',
 ' ‡∏ô‡∏≤‡∏¢',
 'Mrs',
 nan,
 '‡∏ä‡∏≤‡∏¢',
 '‡∏î.‡∏ä.',
 '‡∏î.‡∏ç.',
 '‡∏î.‡∏ï.',
 '‡∏ô',
 '‡∏ô.‡∏™',
 '‡∏ô.‡∏™ ',
 '‡∏ô.‡∏™.',
 '‡∏ô‡∏™',
 '‡∏ô‡∏™.',
 '‡∏ô‡∏™. ',
 '‡∏ô‡∏≤‡∏á',
 '‡∏ô‡∏≤‡∏á ',
 '‡∏ô‡∏≤‡∏á.',
 '‡∏ô‡∏≤‡∏ál',
 '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß',
 '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß ',
 '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß                   ',
 '‡∏ô‡∏≤‡∏ô',
 '‡∏ô‡∏≤‡∏ö',
 '‡∏ô‡∏≤‡∏¢',
 '‡∏ô‡∏≤‡∏¢ ',
 '‡∏ô‡∏≤‡∏¢  ',
 '‡∏ô‡∏≤‡∏ß',
 '‡∏ô‡∏≤‡∏ß‡∏™‡∏≤‡∏ß',
 '‡∏ô‡∏≤‡πà‡∏á',
 '‡∏ô‡πà‡∏≤‡∏¢',
 '‡∏û‡∏à‡∏≠.',
 '‡∏û‡∏£‡∏∞',
 '‡∏û‡∏£‡∏∞‡∏Ñ‡∏£‡∏∏',
 '‡∏û‡∏£‡∏∞‡∏õ‡∏•‡∏±‡∏î',
 '‡∏û‡∏•‡∏Ø',
 '‡∏£.‡∏ï.',
 '‡∏£.‡∏ï.‡∏ï.',
 '‡∏£.‡∏ï.‡∏ó.',
 '‡∏£.‡∏ï.‡∏≠.',
 '‡∏£‡∏ï.',
 '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ï.',
 '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ó.',
 '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏£‡πâ‡∏≠‡∏¢‡∏ï‡∏£‡∏µ',
 '‡∏™.‡∏≠.',
 '‡∏∑‡∏ô‡∏≤‡∏á',
 '‡πÄ‡∏î‡πá‡∏Å‡∏ä‡∏≤‡∏¢',
 '‡πÄ‡∏î‡πá‡∏Å‡∏´‡∏ç‡∏¥‡∏á'}

In [ ]:
data1_alldb['gender'].replace({'  ‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á',' ‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á', ' ‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á', ' ‡∏ô‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢','Mrs':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ä‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢', '‡∏î.‡∏ä.':'‡∏ä‡∏≤‡∏¢','‡∏î.‡∏ç.':'‡∏´‡∏ç‡∏¥‡∏á','‡∏î.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ô':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ô.‡∏™':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô.‡∏™ ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô.‡∏™.':'‡∏´‡∏ç‡∏¥‡∏á',
                                 '‡∏ô‡∏™':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏™.':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏™. ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á.':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏≤‡∏ál':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß ':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏≤‡∏á‡∏™‡∏≤‡∏ß                   ':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡∏ô':'‡∏ä‡∏≤‡∏¢', '‡∏ô‡∏≤‡∏ö':'‡∏ä‡∏≤‡∏¢',
                                  '‡∏ô‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢','‡∏ô‡∏≤‡∏¢ ':'‡∏ä‡∏≤‡∏¢','‡∏ô‡∏≤‡∏¢  ':'‡∏ä‡∏≤‡∏¢', '‡∏ô‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡∏≤‡∏ß‡∏™‡∏≤‡∏ß':'‡∏´‡∏ç‡∏¥‡∏á','‡∏ô‡∏≤‡πà‡∏á':'‡∏´‡∏ç‡∏¥‡∏á', '‡∏ô‡πà‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢','‡∏û‡∏à‡∏≠.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏û‡∏£‡∏∞':'‡∏ä‡∏≤‡∏¢', '‡∏û‡∏£‡∏∞‡∏Ñ‡∏£‡∏∏':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏û‡∏£‡∏∞‡∏õ‡∏•‡∏±‡∏î':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏û‡∏•‡∏Ø':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏£.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏£.‡∏ï.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏',
                                  '‡∏£.‡∏ï.‡∏ó.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏£.‡∏ï.‡∏≠.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏£‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ï.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏', '‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà ‡∏£.‡∏ó.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏ß‡πà‡∏≤‡∏ó‡∏µ‡πà‡∏£‡πâ‡∏≠‡∏¢‡∏ï‡∏£‡∏µ':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏','‡∏™.‡∏≠.':'‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏',  '‡∏∑‡∏ô‡∏≤‡∏á':'‡∏´‡∏ç‡∏¥‡∏á', '‡πÄ‡∏î‡πá‡∏Å‡∏ä‡∏≤‡∏¢':'‡∏ä‡∏≤‡∏¢', '‡πÄ‡∏î‡πá‡∏Å‡∏´‡∏ç‡∏¥‡∏á':'‡∏´‡∏ç‡∏¥‡∏á'},inplace=True)
##‡πÅ‡∏ó‡∏ô‡πÄ‡∏û‡∏®‡∏´‡∏ç‡∏¥‡∏á,‡∏ä‡∏≤‡∏¢,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
data1_alldb[['gender']] =data1_alldb[['gender']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏') #‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏¢ '‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏'
data1_alldb  ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00000,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ä‡∏≤‡∏¢,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,‡∏Ç‡∏∏‡πà‡∏ô,NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,‡∏°‡∏µ‡∏ï‡∏∞‡∏Å‡∏≠‡∏ô,NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"‡∏Ç‡∏∏‡πà‡∏ô, ‡∏°‡∏µ‡πÄ‡∏°‡πá‡∏î‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡πÅ‡∏î‡∏á",NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,99999,‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏,NaN

In [ ]:
set(data1_alldb['gender']) #‡πÄ‡∏£‡∏µ‡∏¢‡∏Å‡∏î‡∏π set ‡∏Ç‡∏≠‡∏á gender

{'‡∏ä‡∏≤‡∏¢', '‡∏´‡∏ç‡∏¥‡∏á', '‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏'}

# ‚ñ∂ ‡∏≠‡∏∑‡πà‡∏ô‡πÜ‡∏ó‡∏µ‡πà‡πÄ‡∏´‡πá‡∏ô‡∏ß‡πà‡∏≤‡πÄ‡∏õ‡πá‡∏ô‡∏õ‡∏£‡∏∞‡πÇ‡∏¢‡∏ä‡∏ô‡πå [age]

In [ ]:
print(data1_alldb.dtypes) #‡∏û‡∏ö‡∏ß‡πà‡∏≤‡∏Ñ‡πà‡∏≤ age   ‡πÄ‡∏õ‡πá‡∏ôobject

Unnamed: 0       int64
user            object
RowKey          string
care            object
date            object
ov              object
phone           string
site            object
time            object
urine           string
pid             object
PartitionKey    object
gender          object
age             object
dtype: object

In [ ]:
age_drop = data1_alldb.dropna(subset=['age']) #dropna column age

In [ ]:
age_drop ['age']=age_drop ['age'].astype('int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_alldb = age_drop[(age_drop ['age'] <=100) & (age_drop ['age'] >=1)]  #‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏≠‡∏≤‡∏¢‡∏∏‡∏ó‡∏µ‡πà‡∏°‡∏≤‡∏Å‡∏Å‡∏ß‡πà‡∏≤1 ‡∏õ‡∏µ ‡∏ô‡πâ‡∏≠‡∏¢‡∏Å‡∏ß‡πà‡∏≤100 ‡∏õ‡∏µ 
data1_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,gender,age
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,NaN,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏ä‡∏≤‡∏¢,66
195,195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,NaN,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,00001,‡∏´‡∏ç‡∏¥‡∏á,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39416,39416,26462,ieotqfnqcq.png,NaN,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11003,‡∏´‡∏ç‡∏¥‡∏á,33
39417,39417,26462,cywpeqziic.png,NaN,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11005,‡∏ä‡∏≤‡∏¢,28
39418,39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,NaN,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11006,‡∏´‡∏ç‡∏¥‡∏á,72
39419,39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,NaN,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),NaN,11007,‡∏´‡∏ç‡∏¥‡∏á,48
39420,39420,26462,vdxxgljykj.png,NaN,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",NaN,11008,‡∏ä‡∏≤‡∏¢,36

In [ ]:
data1_alldb.isnull().any() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

Unnamed: 0      False
user            False
RowKey          False
care             True
date            False
ov              False
phone           False
site            False
time            False
urine           False
pid              True
PartitionKey    False
gender          False
age             False
dtype: bool

In [ ]:
data1_alldb.isnull().sum()    ##‡∏î‡∏π‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á

Unnamed: 0          0
user                0
RowKey              0
care            37836
date                0
ov                  0
phone               0
site                0
time                0
urine               0
pid             37836
PartitionKey        0
gender              0
age                 0
dtype: int64

**‡πÄ‡∏•‡∏∑‡∏≠‡∏Å cloumn ‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£**

In [ ]:
data1all_alldb = data1_alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','gender','age']]   # ‡∏ä‡∏µ‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
data1all_alldb ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,gender,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏ä‡∏≤‡∏¢,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11003,‡∏´‡∏ç‡∏¥‡∏á,33
39417,26462,cywpeqziic.png,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11005,‡∏ä‡∏≤‡∏¢,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11006,‡∏´‡∏ç‡∏¥‡∏á,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11007,‡∏´‡∏ç‡∏¥‡∏á,48
39420,26462,vdxxgljykj.png,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",11008,‡∏ä‡∏≤‡∏¢,36

In [ ]:
data1all_alldb.isnull().any() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
gender          False
age             False
dtype: bool

##Data 2  hospital_list.xlsx

In [ ]:
data2_hospital = pd.read_excel(os.path.join(path,'hospital_list.xlsx')) #‡∏Å‡∏≤‡∏£‡∏ô‡∏≥‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏ü‡∏•‡πå‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÅ‡∏õ‡∏£‡∏Ñ‡∏∑‡∏≠data2_hospital
data2_hospital ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,6,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏∞‡∏¢‡∏≠‡∏á),11.0,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,1.0,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏™‡∏õ,SPK
1,00002,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),12.0,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,4.0,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏ô‡∏ö,NBI
2,00003,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),13.0,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,1.0,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏õ‡∏ó,PTE
3,00004,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),14.0,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,1.0,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,3.0,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏≠‡∏¢,AYA
4,00005,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,4,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏™‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏µ),15.0,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,8.0,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê,1.0,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î,NaN,NaN,‡∏≠‡∏ó,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,2,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏û‡∏¥‡∏©‡∏ì‡∏∏‡πÇ‡∏•‡∏Å),53.0,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,1.0,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏≠‡∏ï,UTT
17099,99991,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,5,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ),77.0,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,2.0,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,1.0,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏õ‡∏Ç,PKN
17100,99993,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,5,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ),70.0,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,9.0,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,3.0,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏£‡∏ö,RBR
17101,99996,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,10,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏≠‡∏∏‡∏ö‡∏•‡∏£‡∏≤‡∏ä‡∏ò‡∏≤‡∏ô‡∏µ),33.0,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,1.0,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,11.0,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏®‡∏Å,SSK
17102,99998,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,5,‡∏™‡∏≤‡∏Ç‡∏≤‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà(‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ),70.0,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,6.0,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,2.0,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô,8.0,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô ‡∏Ç‡∏≠‡∏á ‡∏£‡∏û.,10.0,1 ‡∏õ‡∏ê‡∏°‡∏†‡∏π‡∏°‡∏¥,‡∏£‡∏ö,RBR

In [ ]:
data2_hospital = data2_hospital[['hcode','zone_code','name','province','amphur','tambon']] ##‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡πÄ‡∏â‡∏û‡∏≤‡∏∞column‡∏ó‡∏µ‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏Å‡∏≤‡∏£
data2_hospital  ## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,hcode,zone_code,name,province,amphur,tambon
0,00001,6,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥
1,00002,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠
2,00003,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å
3,00004,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢
4,00005,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê
...,...,...,...,...,...,...
17098,99990,2,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê
17099,99991,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ
17100,99993,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á
17101,99996,10,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤
17102,99998,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô

In [ ]:
data2_hospital= data2_hospital[(data2_hospital['hcode'].astype(str).str.isdigit()) & (data2_hospital['hcode'].str.len() == 5)]      # ‡πÄ‡∏•‡∏∑‡∏≠‡∏Å‡∏°‡∏≤‡πÄ‡∏â‡∏û‡∏≤‡∏∞ ‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå hcode ‡∏ó‡∏µ‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç & ‡∏°‡∏µ‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç ‡πÄ‡∏ó‡πà‡∏≤‡∏Å‡∏±‡∏ö 5 ‡∏ï‡∏±‡∏ß
data2_hospital## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,hcode,zone_code,name,province,amphur,tambon
0,00001,6,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥
1,00002,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠
2,00003,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å
3,00004,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢
4,00005,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê
...,...,...,...,...,...,...
17098,99990,2,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê
17099,99991,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ
17100,99993,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á
17101,99996,10,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤
17102,99998,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô

In [ ]:
data2_hospital.isnull().any() # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

hcode        False
zone_code    False
name          True
province     False
amphur        True
tambon        True
dtype: bool

In [ ]:
data2_hospital[['name']] = data2_hospital[['name']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')
data2_hospital[['amphur']] =data2_hospital[['amphur']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')
data2_hospital[['tambon']] = data2_hospital[['tambon']].fillna('‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏')
#‡πÅ‡∏ó‡∏ô‡∏Ñ‡πà‡∏≤ ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏ ‡πÉ‡∏ô‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
data2_hospital.isnull().any()  # ‡∏ï‡∏£‡∏ß‡∏à‡∏™‡∏≠‡∏ö‡∏´‡∏≤‡∏Ñ‡πà‡∏≤ missing

hcode        False
zone_code    False
name         False
province     False
amphur       False
tambon       False
dtype: bool

In [ ]:
data2_hospital.isnull().sum()    ## ‡∏î‡∏π‡∏Ñ‡πà‡∏≤‡∏ß‡πà‡∏≤‡∏á

hcode        0
zone_code    0
name         0
province     0
amphur       0
tambon       0
dtype: int64

# ‚ñ∂ Merge Table ‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà1 ‡πÅ‡∏•‡∏∞‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà2

In [ ]:
data1all_alldb #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà1 ‡πÑ‡∏ü‡∏•‡πå alldb.csv

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,gender,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏ä‡∏≤‡∏¢,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11003,‡∏´‡∏ç‡∏¥‡∏á,33
39417,26462,cywpeqziic.png,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11005,‡∏ä‡∏≤‡∏¢,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11006,‡∏´‡∏ç‡∏¥‡∏á,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11007,‡∏´‡∏ç‡∏¥‡∏á,48
39420,26462,vdxxgljykj.png,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",11008,‡∏ä‡∏≤‡∏¢,36

In [ ]:
data2_hospital #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏ó‡∏µ‡πà2 hospital_list.xlsx

,hcode,zone_code,name,province,amphur,tambon
0,00001,6,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,‡∏õ‡∏≤‡∏Å‡∏ô‡πâ‡∏≥
1,00002,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡∏Å‡∏£‡∏∞‡∏™‡∏≠
2,00003,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,‡∏ö‡∏≤‡∏á‡∏õ‡∏£‡∏≠‡∏Å
3,00004,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£‡∏®‡∏£‡∏µ‡∏≠‡∏¢‡∏∏‡∏ò‡∏¢‡∏≤,‡∏´‡∏≠‡∏£‡∏±‡∏ï‡∏ô‡πÑ‡∏ä‡∏¢
4,00005,4,‡∏™‡∏≥‡∏ô‡∏±‡∏Å‡∏á‡∏≤‡∏ô‡∏™‡∏≤‡∏ò‡∏≤‡∏£‡∏ì‡∏™‡∏∏‡∏Ç‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡πà‡∏≤‡∏á‡∏ó‡∏≠‡∏á,‡∏ö‡πâ‡∏≤‡∏ô‡∏≠‡∏¥‡∏ê
...,...,...,...,...,...,...
17098,99990,2,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå(‡∏™‡∏≤‡∏Ç‡∏≤ 2 ‡∏ß‡∏±‡∏î‡∏ó...,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡πà‡∏≤‡∏≠‡∏¥‡∏ê
17099,99991,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏õ‡∏£‡∏∞‡∏à‡∏ß‡∏ö‡∏Ñ‡∏µ‡∏£‡∏µ‡∏Ç‡∏±‡∏ô‡∏ò‡πå,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ,‡∏Å‡∏∏‡∏¢‡∏ö‡∏∏‡∏£‡∏µ
17100,99993,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á,‡∏ß‡∏±‡∏î‡πÄ‡∏û‡∏•‡∏á
17101,99996,10,‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å‡∏ó‡∏±‡∏ô‡∏ï‡∏Å‡∏£‡∏£‡∏° ‡∏™‡∏™‡∏à.‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏®‡∏£‡∏µ‡∏™‡∏∞‡πÄ‡∏Å‡∏©,‡πÇ‡∏û‡∏ô‡∏Ç‡πà‡∏≤
17102,99998,5,‡∏®‡∏π‡∏ô‡∏¢‡πå‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ä‡∏∏‡∏°‡∏ä‡∏ô‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏£‡∏≤‡∏ä‡∏ö‡∏∏‡∏£‡∏µ,‡∏ö‡∏≤‡∏á‡πÅ‡∏û,‡∏ß‡∏±‡∏á‡πÄ‡∏¢‡πá‡∏ô

In [ ]:
data_Final = data1all_alldb.merge(data2_hospital,how='left',left_on='site',right_on='hcode') ## ‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏ádata1all_alldb ‡∏Å‡∏±‡∏ödata2_hospital ‡∏î‡πâ‡∏ß‡∏¢ site ‡πÅ‡∏•‡∏∞ hcode
data_Final## ‡πÅ‡∏™‡∏î‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏á

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,gender,age,hcode,zone_code,name,province,amphur,tambon
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",06307,14:46:08,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,47,06307,2,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏Å‡∏≤‡∏∞ ‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡∏î‡∏≤‡∏£‡∏≤,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏û‡∏¥‡∏ä‡∏±‡∏¢,‡∏ö‡πâ‡∏≤‡∏ô‡∏î‡∏≤‡∏£‡∏≤
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",05328,15:27:45,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,41,05328,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡πÇ‡∏Ñ‡∏Å‡∏õ‡∏£‡∏∞‡∏™‡∏¥‡∏ó‡∏ò‡∏¥‡πå,‡∏Å‡∏≤‡∏¨‡∏™‡∏¥‡∏ô‡∏ò‡∏∏‡πå,‡∏Ü‡πâ‡∏≠‡∏á‡∏ä‡∏±‡∏¢,‡πÇ‡∏Ñ‡∏Å‡∏™‡∏∞‡∏≠‡∏≤‡∏î
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",06302,10:16:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,55,06302,2,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏™‡∏≠‡∏á‡∏´‡πâ‡∏≠‡∏á,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ü‡∏≤‡∏Å‡∏ó‡πà‡∏≤,‡∏™‡∏≠‡∏á‡∏´‡πâ‡∏≠‡∏á
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",05059,12:26:38,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏ä‡∏≤‡∏¢,66,05059,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ö‡πâ‡∏≤‡∏ô‡∏î‡∏≠‡∏ô‡∏î‡∏π‡πà,‡∏°‡∏´‡∏≤‡∏™‡∏≤‡∏£‡∏Ñ‡∏≤‡∏°,‡∏ô‡∏≤‡∏î‡∏π‡∏ô,‡∏´‡∏±‡∏ß‡∏î‡∏á
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31 00:00:00,0,"iPhone13,3",06334,14:57:41,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),00001,‡∏´‡∏ç‡∏¥‡∏á,50,06334,2,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡∏™‡πà‡∏á‡πÄ‡∏™‡∏£‡∏¥‡∏°‡∏™‡∏∏‡∏Ç‡∏†‡∏≤‡∏û‡∏ï‡∏≥‡∏ö‡∏•‡∏ô‡πâ‡∏≥‡∏û‡∏µ‡πâ,‡∏≠‡∏∏‡∏ï‡∏£‡∏î‡∏¥‡∏ï‡∏ñ‡πå,‡∏ó‡∏≠‡∏á‡πÅ‡∏™‡∏ô‡∏Ç‡∏±‡∏ô,‡∏ô‡πâ‡∏≥‡∏û‡∏µ‡πâ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37831,26462,ieotqfnqcq.png,2022-03-22 00:00:00,1,Vivo 1920,11069,14:03:12,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11003,‡∏´‡∏ç‡∏¥‡∏á,33,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37832,26462,cywpeqziic.png,2022-03-21 00:00:00,2,Vivo 1920,11069,13:59:04,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11005,‡∏ä‡∏≤‡∏¢,28,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37833,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22 00:00:00,2,"iPhone13,4",11069,13:41:47,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11006,‡∏´‡∏ç‡∏¥‡∏á,72,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37834,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21 00:00:00,0,"iPhone13,4",11069,14:17:46,‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™),11007,‡∏´‡∏ç‡∏¥‡∏á,48,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á
37835,26462,vdxxgljykj.png,2022-03-21 00:00:00,1,Vivo V2050,11069,10:54:49,"‡∏õ‡∏Å‡∏ï‡∏¥ (‡πÄ‡∏´‡∏•‡∏∑‡∏≠‡∏á‡πÉ‡∏™), ‡πÉ‡∏™‡πà‡πÄ‡∏õ‡πá‡∏ô‡∏ô‡πâ‡∏≥‡πÄ‡∏õ‡∏•‡πà‡∏≤",11008,‡∏ä‡∏≤‡∏¢,36,11069,7,‡πÇ‡∏£‡∏á‡∏û‡∏¢‡∏≤‡∏ö‡∏≤‡∏•‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏£‡πâ‡∏≠‡∏¢‡πÄ‡∏≠‡πá‡∏î,‡πÄ‡∏™‡∏•‡∏†‡∏π‡∏°‡∏¥,‡∏Ç‡∏ß‡∏±‡∏ç‡πÄ‡∏°‡∏∑‡∏≠‡∏á

# ‚ñ∂ Save table

In [ ]:
data_Final.to_csv(os.path.join(path,'data_Final.csv'))

# ‚ñ∂ DashBoard

https://datastudio.google.com/s/lq8ziMMCPFI